<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Developer Detail</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/skills">Back to Developers List</a>
    <h1>Developer Details</h1>
    <div>
        <h2>Name: <%= developer.name %></h2>
        <p>Skills:</p>
        <ul>
            <% developer.skills.forEach(skill => { %>
                <form
                action="/skills/delete/<%= developer.id %>/<%= skill %>"
                method="POST"
                class="delete-form">
                    <button type="submit">X</button>
                </form>
                <li><%= skill %></li>
            <% }); %>
        </ul>
        <p>Developer ID: <%= developer.id %></p>
    </div>
    <a href="/skills/new/<%= developer.id %>">Add New Skill</a>
</body>
</html>
 